


<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-12">
                <div class="form-input-content">
                    <div class="card " style="min-height : 500px">
                        <div class="card-body pt-5 " >
                            <h1 class="h1 text-center">
                                Page Not Found
                            </h1>
                         </div>
                     </div>
                </div>
             </div>
         </div>
     </div>
 </div>
                        