<div class="col-lg-12 col-sm-12 col-md-12 col-12">
    <div class="card">
        <div class="card-body">

            <div class="row" style="height: 350px;">
                        <div class="col-12 col-sm-12 col-xl-12 col-md-12">
                                    <h5 class="box-title">Change Password</h5>
                                <!-- /.box-header -->
                                    <form class="">
                                        <div class="form-group">
                                            <!-- <label>New Password:</label> -->
                                            <input type="password" 
                                            name="password" 
                                            placeholder="New Password" 
                                            class="form-control" 
                                            [(ngModel)]="updatePasswordData.password"
                                            style="height: 31px; min-height: 34px; width: 46%;">
                                        </div>
                                        <div class="form-group">
                                            <!-- <label>Confirm New Password:</label> -->
                                            <input type="password" 
                                            name="repassword" 
                                            placeholder="Confirm New Password" 
                                            class="form-control" 
                                            [(ngModel)]="updatePasswordData.repassword"
                                            style="height: 31px;min-height: 34px; width: 46%;">
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm" (click)="updatePassword()">Change Password</button> &nbsp; &nbsp;
                                        <button type="button" class="btn btn-sm btn-danger " (click)="cancel()">Cancel</button>
                                    </form>
                                </div>
                        </div>

                        
                        <!--*******************
                            Preloader start
                        ********************-->
                        <div id="preloader" *ngIf="loader">
                            <div class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

                        <!--*******************
                            Preloader end
                        ********************  -->   